.banner-head {
    position: relative;        
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 100%;
    padding: 20px;
    margin: 0px black;
    gap: 15px;
    background-color: white;
}

.display-name{
    font-size: 1.8rem;
    font-style: bold;
    margin: 0;
    text-align: left;

}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: left;
}


.follow {
    margin-left: auto;
    margin-right: 3%;
    align-self: flex-end;
}

.follow button {
    color: #ffffff;
    background-color: #5DADE2;
    border-radius: 10px;
    padding: 0.3rem;
    border: none;
    border-radius: 40px;
    height: 3rem;
    width: 130%;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;

}

.follow button:hover {
    background-color: #2b88c6; /* Efeito ao passar o mouse */
    transform: scale(1.02);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
}


.imgbox {
    object-fit: cover;
    display: flex;
}

.imgbox img{
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 2px;
    float: left;
    width:  130px;
    height: 110px;
    object-fit: cover;

}

.banner-popup {
    position: fixed;
    top: 0;
    left: 0;
    background: hsla(0, 0%, 0%, 0.447);
    height: 100%;
    width: 100%;
    z-index: 100;
}

.banner-popup span{
    position: absolute;
    top: 0;
    right: 10px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.banner-popup img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px;
    border-radius: 5px;
    padding: 100px;
    width: 750px;
    object-fit: cover;
}
